@media screen and (max-width: 1200px)
	.greeting
		height: 600px !important
		.greeting__text
			display: inline-block
			margin-left: 0

		.greeting__images
			// transform: scale(.8) !important
			top: -470px !important
			right: -58% !important
			
			.spot

			.burger-group

				.parallax-group
					// width: 500px
					height: 500px

	.header
		.phone-info__number
			margin: 0 2rem
		.menu-list 
			margin-left: -5%

	.burger-form
		&__images
			left: 50%
	.popup
		.popup-mail
			.popup-title
				margin: 0 auto 3rem
				font-size: 3rem
				line-height: 4rem
				margin-top: 3rem
				max-width: 87%

		.popup-phone
			.popup-title
				margin: 0 auto 3rem