@media screen and (max-width: 576px)
	.greeting
		.greeting__images
			right: -18%
	
	.burger-form
		&__images
			width: 100%
			left: 5%
		&__slider
			.slick-list 
				width: 100%
				margin-left: 15%
	.popup
		.popup-mail
			&__form
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
			.popup-input
				margin-left: 0
				margin-bottom: 1rem
				min-width: 370px
		
			.popup-header
				.container
					justify-content: space-between
					width: 85%
					padding-left: 0
			.header-logo
				display: block
		.popup-phone
			&__form
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
			.popup-input
				margin-left: 0
				margin-bottom: 1rem
				min-width: 370px
		
			.popup-header
				.container
					justify-content: space-between
					width: 80%
					padding-left: 0
			.header-logo
				display: block