@import 'reset'
@import 'variables'
@import 'interface'
@import 'header'
@import 'greeting'
@import 'burger-form'
@import 'slider'
@import 'popup'
@import 'menu'
body
	background-color: #fff
	width: 100%;
	font-family: $font-medium
